# Conexión con SQLite

In [1]:
# importamos el módulo
import sqlite3

# Realizamos la conexión
conn = sqlite3.connect("ejemplo.db")

# En caso de no encontrar la base de datos crea una nueva con el nombre asignado
# Para crear una tabla
cursor = conn.cursor()

# Creamos una tabla de usuarios
cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS usuarios
    (
        nombre VARCHAR(100),
        edad INTEGER,
        email VARCHAR(100),
        created_on DATE
    )
    """
)

# Guardamos los cambios haciendo un commit
conn.commit()

# Cerramos la conexión
conn.close()

## Insertar valores en una tabla

In [3]:
import sqlite3

conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

# Insertamos un registro en la tabla de usuarios
cursor.execute("INSERT INTO usuarios VALUES " \
    "('Hector', 27, 'hector@ejemplo.com', '2022-06-04')")

# Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

### Lectura con SELECT

In [4]:
import sqlite3

conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

# Recuperamos los registros de la tabla de usuarios
cursor.execute("SELECT * FROM usuarios")

# Mostrar el cursos a ver que hay ?
print(cursor)

# Recorremos el primer registro con el método fetchone, devuelve una tupla
usuario = cursor.fetchone()
print(usuario)

conexion.close()

<sqlite3.Cursor object at 0x7fbe08364180>
('Hector', 27, 'hector@ejemplo.com', '2022-06-04')

### Insert multiple

In [6]:
import sqlite3

conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

# Creamos una lista con varios usuarios
usuarios = [('Mario', 51, 'mario@ejemplo.com', '2022-06-04'),
            ('Mercedes', 38, 'mercedes@ejemplo.com', '2022-06-04'),
            ('Juan', 19, 'juan@ejemplo.com', '2022-06-04')]

# Ahora utilizamos el método executemany() para insertar varios
cursor.executemany("INSERT INTO usuarios VALUES (?,?,?,?)", usuarios)

# Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

### Consulta multiple

In [9]:
import sqlite3

conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

# Recuperamos los registros de la tabla de usuarios
cursor.execute("SELECT * FROM usuarios")

# Recorremos todos los registros con fetchall
# y los volcamos en una lista de usuarios
usuarios = cursor.fetchall()

# Ahora podemos recorrer todos los usuarios
for usuario in usuarios:
    print(usuario)

('Hector', 27, 'hector@ejemplo.com', '2022-06-04')
('Mario', 51, 'mario@ejemplo.com', '2022-06-04')
('Mercedes', 38, 'mercedes@ejemplo.com', '2022-06-04')
('Juan', 19, 'juan@ejemplo.com', '2022-06-04')

In [8]:
## Import Pandas SQL
import pandas as pd

In [12]:
q = """
SELECT * FROM usuarios;
"""

In [13]:
pd.read_sql(q, conexion)

     nombre  edad                 email  created_on
0    Hector    27    hector@ejemplo.com  2022-06-04
1     Mario    51     mario@ejemplo.com  2022-06-04
2  Mercedes    38  mercedes@ejemplo.com  2022-06-04
3      Juan    19      juan@ejemplo.com  2022-06-04